## pandas

In [ ]:
import pandas as pd
df=pd.DataFrame(
{
    'Name':["Braund, Mr. Owen Harris",
           "Allen, mr. William Henry",
           "Bonnell, Miss. Elizabeth"],
    'Age':[22,35,58],
    "sex":['M','M','F'],
})
df

In [ ]:
df['Age']

In [ ]:
df['sex']

In [ ]:
df['Name']

In [ ]:
address=pd.Series(['UK','German','itely'],name='Address')

In [ ]:
address

In [ ]:
df['Age'].max()

In [ ]:
df.describe()

In [ ]:
df.info()  ### technical summary of the data frame

In [ ]:
""" explanation::: there are 3 rows/entries with value ranging,
0-2. The table has 3 columns. the columns Name and Age consist ,
of textual data and the other column have numerical data"""

In [ ]:
titanic=pd.DataFrame(
{
    "PassengerId":[1,2,3,4,5],
    "Survived":[0,1,1,1,0],
    "pclass":[3,1,3,1,3],
    "fare":[7.2500,71.2833,7.9250,53.1000,8.0500],
    "cabin":['NaN','C85','NaN','C123','NaN'],
    "Embarked":['s','c','s','s','s'],
})
titanic

In [ ]:
titanic.head(2)

In [ ]:
titanic.tail(3)

In [ ]:
c=titanic['pclass']
c

In [ ]:
c.head()

In [ ]:
type(titanic['pclass'])

In [ ]:
titanic['pclass'].shape

In [ ]:
c_e=titanic[['pclass','Embarked']]
c_e

In [ ]:
titanic[['pclass','Embarked']].shape

In [ ]:
age=[22,38,26,35,35]   ### insert the new column
df2=titanic.assign(ages=age)
df2

In [ ]:

df2.insert(3,'agees',value=df2.ages,allow_duplicates=False)
df2

In [ ]:
df2=df2.drop(labels=['ages'],axis=1)
df2

In [ ]:
titanic=df2[df2['agees']>35]
titanic.head()

In [ ]:
df2

In [ ]:
titanic

In [ ]:
df1=df2
df1

In [ ]:
df1['agees']>35

In [ ]:
df1.shape

In [ ]:
df1['pclass'].isin([3])

In [ ]:
df1=df1[(df1['pclass']==2) | (df1['pclass']==3)]
df1

In [ ]:
df3=df2[df2['agees'].notna()]
df3

In [ ]:
df3.shape

In [ ]:
df3=df2.loc[df2['agees']>30,'PassengerId']
df3

In [ ]:
df3=df2.iloc[1:3,2:5]
df3

In [ ]:
df3=df2.iloc[0:3,3]="anonymous"
df3

In [ ]:
df2

In [ ]:
df2.iloc[0:3,3]=[30,25,34]
df2

In [ ]:
df=pd.read_csv('tested.csv')
df

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df2=df.groupby('Sex')['Sex'].agg('count')
df2

In [ ]:
df2.isnull().sum()

In [ ]:
df2

In [ ]:
df2=df['PassengerId'].unique
df2

In [ ]:
df2=df['Cabin'].unique()
df2

In [ ]:
df['Cabin']

In [ ]:
df

# Seaborn

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
a=sns.load_dataset('flights')

In [ ]:
print(a.head(20))

In [ ]:
sns.relplot(data=a,x='passengers',y='month')

In [ ]:
sns.relplot(data=a,x='passengers',y='month',hue='year')

In [ ]:
b=sns.load_dataset('tips')
b.head()

In [ ]:
sns.catplot(x='day',y='total_bill',data=b,kind='boxen',color='yellow')

In [ ]:
from scipy import stats

In [ ]:
c=np.random.normal(loc=5,scale=4,size=100)

In [ ]:
sns.distplot(c)  ### univariate graph

In [ ]:
sns.set(style='darkgrid',color_codes=True)
b=sns.PairGrid(a)
b.map(plt.scatter)

In [ ]:
sns.set(style='white',color_codes=True)
sns.boxplot(x='day',y='total_bill',data=b)

In [ ]:
c=sns.color_palette()
sns.palplot(c)